<form class="asset-sync-form" onsubmit="event.preventDefault()" autocomplete="off">
  <div class="title flexrow">
    <img class="logo" src="modules/forge-vtt/images/the-forge-logo-200x200.png">
    <h1>Forge VTT - Asset Sync (Beta)</h1>
  </div>
  <br />
  {{!-- <h2>Status</h2> --}}
  <div class="flexrow">
    <div class="sync-status-icon {{syncStatusIcon}}">
      {{#if syncStatusIconClass}}
        <i class="{{syncStatusIconClass}}"></i>
      {{/if}}
    </div>
    <i class="sync-status">{{currentStatus}}</i>

  </div>

  <br />
  {{#if canSync}}
    {{#if isSyncing}}
      <h4>{{syncProgress.step}}</h4>
      <div class="sync-progress">
        <progress value="{{syncProgress.value}}" max="100">{{syncProgress.value}}%</progress>
        <i>
          {{syncProgress.countValue}} of {{syncProgress.countMax}} {{syncProgress.type}}s processed.
        </i>
      </div>
      <br />
      <h4>Current {{syncProgress.type}}:</h4>
      <div class="current-asset-container">
        <span class="current-asset">{{#if currentAsset}}{{currentAsset}}{{else}}<i>none</i>{{/if}}</span>
      </div>
    {{/if}}
    <hr>
    <div class="flexrow">

      <div class="flexcol">
        <div class="flexcol options">
          <h3>Options</h3>
          {{#each syncOptions}}
            <div class="form-group">

              <label>
                <input type="checkbox" name="{{this.htmlName}}" data-option-name="{{this.name}}" {{checked
                  this.checked}} {{#if this.disabled}}disabled{{/if}} {{#if ../isSyncing}}disabled{{/if}} />
                <span>{{this.label}}</span>
              </label>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <footer>
      <button type="button" name="sync" class="sync"><i class="{{syncButtonIcon}}"></i> {{syncButtonText}}</button>
      {{#if (or failedFolders.length failedAssets.length)}}
        <div class="failures">
        {{#if failedFolders.length}}
          <h3><i class="fas fa-exclamation-triangle"></i> Failed Folders:</h3>
          <ul>
            {{#each failedFolders}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}
        {{#if failedAssets.length}}
          <h3><i class="fas fa-exclamation-triangle"></i> Failed Assets:</h3>
          <ul>
            {{#each failedAssets}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}
        </div>
      {{/if}}
    </footer>
  {{/if}}
</form>