<div class="form-group stacked forgevtt-options" style="display: none; font-size: 12px;">
  <div class="form-group forgevtt-flips">
    <input type="checkbox" name="no-optimizer" id="{{rootId}}-forgevtt-no-optimizer" data-action="toggleOptimizer" />
    <label for="{{rootId}}-forgevtt-no-optimizer">Disable optimizations
      <a href="https://forums.forge-vtt.com/t/the-image-optimizer/681">?</a></label>

    <input type="checkbox" name="flip" id="{{rootId}}-forgevtt-flip" data-action="toggleFlip" />
    <label for="{{rootId}}-forgevtt-flip">Flip Vertically</label>

    <input type="checkbox" name="flop" id="{{rootId}}-forgevtt-flop" data-action="toggleFlop" />
    <label for="{{rootId}}-forgevtt-flop">Flip Horizontally</label>
  </div>

  <div class="form-group forgevtt-blur-options">
    <label for="blur">Blur Image</label>
    <select name="blur" data-action="changeBlur">
      <option value="0">None</option>
      <option value="25">25%</option>
      <option value="50">50%</option>
      <option value="75">75%</option>
      <option value="100">100%</option>
    </select>
  </div>
</div>

{{#if (eq activeSource "forgevtt")}}
  <div class="form-group">
    <button type="button" data-action="makeNewFolder" title="Create New Folder">
      <i class="fas fa-folder-plus"></i>New Folder
    </button>
  </div>
{{/if}}